<?xml version="1.0"?>
<launch>
  <arg name="communication_namespace" default="vehicleA"/>
  <param name="/use_sim_time" value="true"/>
  <node pkg="nodelet" type="nodelet" name="$(arg communication_namespace)_its_manager"  args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="$(arg communication_namespace)_itsg5_bristol" args="load communication_model/itsg5_bristol $(arg communication_namespace)_its_manager" output="screen">
      <remap from="/$(arg communication_namespace)/rx_com" to="/rx_com"/>
      <remap from="/$(arg communication_namespace)/tx_com" to="/tx_com"/>
      <param name="NS" value="$(arg communication_namespace)"/>
  </node>
  <rosparam param="itsg5_bristol" file="$(find communication_model)/communication_model.yaml"/>

</launch>
