<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="out_put_topic" default="out_put_topic"/>
  <arg name="in_put_topic" default="in_put_topic"/>
  <arg name="dt" default="0.001"/>
  <arg name="T_1" default="10"/>
  <arg name="T_2" default="12"/>
  <arg name="T_3" default="15"/>
  <arg name="T_4" default="18"/>
  <arg name="T_5" default="19"/>
  <arg name="T_6" default="22"/>
  <arg name="T_1_U" default="22"/>
  <arg name="T_1_W" default="22"/>
  <arg name="T_2_U" default="22"/>
  <arg name="T_2_W" default="22"/>
  <arg name="T_3_U" default="22"/>
  <arg name="T_3_W" default="22"/>
  <arg name="T_4_U" default="22"/>
  <arg name="T_4_W" default="22"/>
  <arg name="T_5_U" default="22"/>
  <arg name="T_5_W" default="22"/>
  <arg name="INITIAL_U" default="22"/>
  <arg name="INITIAL_W" default="22"/>
  <arg name="FINAL_U" default="22"/>
  <arg name="FINAL_W" default="22"/>
  <arg name="control_namespace" default="vehicleA"/>

  <node pkg="cav_vehicle_model" type="dummy_control" name="dummy_control" ns="$(arg control_namespace)" output="screen">
    <param name="dt" value="$(arg dt)" />
    <remap from="output" to="$(arg out_put_topic)"/>
    <remap from="input" to="$(arg in_put_topic)"/>

    <param name="T_1" value="$(arg T_1)" />
    <param name="T_2" value="$(arg T_2)" />
    <param name="T_3" value="$(arg T_3)" />
    <param name="T_4" value="$(arg T_4)" />
    <param name="T_5" value="$(arg T_5)" />
    <param name="T_6" value="$(arg T_6)" />
    <param name="T_1_U" value='$(arg T_1_U)' />
    <param name="T_1_W" value='$(arg T_1_W)' />
    <param name="T_2_U" value='$(arg T_2_U)' />
    <param name="T_2_W" value='$(arg T_2_W)' />
    <param name="T_3_U" value='$(arg T_3_U)' />
    <param name="T_3_W" value='$(arg T_3_W)' />
    <param name="T_4_U" value='$(arg T_4_U)' />
    <param name="T_4_W" value='$(arg T_4_W)' />
    <param name="T_5_U" value='$(arg T_5_U)' />
    <param name="T_5_W" value='$(arg T_5_W)' />
    <param name="INITIAL_U" value="$(arg INITIAL_U)" />
    <param name="INITIAL_W" value="$(arg INITIAL_W)" />
    <param name="FINAL_U" value="$(arg FINAL_U)" />
    <param name="FINAL_W" value="$(arg FINAL_W)" />
  </node>

</launch>
