<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="L" default="2.7"/>
  <arg name="m" default="1200"/>
  <arg name="dt" default="0.001"/>
  <arg name="R" default="0.19"/>
  <arg name="I_d" default="0.3"/>
  <arg name="I_g" default="0.3"/>
  <arg name="Im_e" default="0.3"/>
  <arg name="Im_t" default="0.3"/>
  <arg name="Im_w" default="0.3"/>
  <arg name="initial_x" default="0.3"/>
  <arg name="initial_y" default="0.3"/>
  <arg name="initial_heading" default="0.05"/>
  <arg name="initial_speed" default="0.0"/>
  <arg name="vehicle_namespace" default="vehicleA"/>
  
  <node pkg="cav_vehicle_model" type="model" name="model" output="screen" ns="$(arg vehicle_namespace)">
    <param name="L" value="$(arg L)" />
    <param name="m" value="$(arg m)" />
    <param name="dt" value="$(arg dt)" />
    <param name="R" value="$(arg R)" />
    <param name="I_d" value="$(arg I_d)"/>
    <param name="I_g" value="$(arg I_g)" />
    <param name="Im_e" value="$(arg Im_e)" />
    <param name="Im_t" value="$(arg Im_t)" /> 
    <param name="Im_w" value="$(arg Im_w)" /> 
    <param name="initial_x" value="$(arg initial_x)" /> 
    <param name="initial_y" value="$(arg initial_y)" /> 
    <param name="initial_heading" value="$(arg initial_heading)" /> <!--RAD-->
    <param name="initial_speed" value="$(arg initial_speed)" /> 
    <param name="base_link" value="$(arg vehicle_namespace)_base_link" /> 

    <remap from="/cav_vehicle_model/output" to="/$(arg vehicle_namespace)/cav_vehicle_model/output"/>
    <remap from="/cav_vehicle_model/input" to="/$(arg vehicle_namespace)/cav_vehicle_model/input"/>
    <remap from="/cav_vehicle_model/odometry" to="/$(arg vehicle_namespace)/cav_vehicle_model/odometry"/>
    <remap from="/cav_vehicle_model/marker" to="/$(arg vehicle_namespace)/cav_vehicle_model/marker"/>
  </node>

</launch>
