<?xml version="1.0"?>
<launch>
        <param name="robot_description" command="cat $(find okan_linea)/myModel.xml" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <!--<node name="state_publisher" pkg="okan_linea" type="state_publisher" />-->
        <!--<node pkg="tf" type="static_transform_publisher" name="base_footprint" args="0 0 0 0 0 0 /base_footprint /odom 10"/>-->

</launch>
