<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find vehicle_model)/launch/vehicle_model.launch" ns="vehicleA"/> 
  <include file="$(find vehicle_model)/launch/vehicle_model.launch" ns="vehicleB"/> 

  <include file="$(find vehicle_model)/launch/control.launch" ns="vehicleA"/> 
  <include file="$(find vehicle_model)/launch/control.launch" ns="vehicleB"/> 

  <include file="$(find communication_model)/launch/default.launch" ns="vehicleA"/> 
  <include file="$(find communication_model)/launch/default.launch" ns="vehicleB"/> 
  <include file="$(find communication_model)/launch/default.launch" ns="RSU"/> 

  <include file="$(find computation_model)/launch/default.launch" ns="vehicleA"/> 
  <include file="$(find computation_model)/launch/default.launch" ns="vehicleB"/> 

  <include file="$(find map_file)/launch/points_map_loader.launch" ns="PCDLoader">
    <arg name="path_pcd" default='"$(env HOME)/CAVPsim/src/enviornment/map/PCD/test.pcd"' />
  </include>
      
  
  <node pkg="rviz" type="rviz" name="rviz" output="screen"/>

</launch>
