<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- COMMON ARGs -->
  <arg name="dt" value="0.001"/>
  <arg name="_vehicleA_namespace" value="vehicleA"/>
  <arg name="_vehicleB_namespace" value="vehicleB"/>
  <arg name="_vehicleC_namespace" value="vehicleC"/>
  <arg name="_vehicleD_namespace" value="vehicleD"/>
  <arg name="_vehicleE_namespace" value="vehicleE"/>
  <arg name="_vehicleF_namespace" value="vehicleF"/>
  <arg name="_vehicleG_namespace" value="vehicleG"/>
  <arg name="_vehicleH_namespace" value="vehicleH"/>
  <arg name="_vehicleI_namespace" value="vehicleI"/>
  <arg name="_vehicleJ_namespace" value="vehicleJ"/>
  <arg name="_vehicleK_namespace" value="vehicleK"/>

  <!-- <node type="cavpsim_gui" name="cavpsim_gui" pkg="cavpsim_gui" output="screen"/> -->
  <include file="$(find cavpsim_clock_server)/launch/default.launch"/> 

  <!-- <include file="$(find cav_vehicle_model)/launch/cav_vehicle_model.launch">
    <arg name="L" value="4.6"/>
    <arg name="m" value="6200"/>
    <arg name="R" value="0.29"/>
    <arg name="I_d" value="0.3"/>
    <arg name="I_g" value="0.3"/>
    <arg name="Im_e" value="0.3"/>
    <arg name="Im_t" value="0.3"/>
    <arg name="Im_w" value="0.3"/>
    <arg name="initial_x" value="50.55"/>
    <arg name="initial_y" value="-56.882"/>
    <arg name="initial_heading" value="1.47"/>
    <arg name="initial_speed" value="0.0"/>
    <arg name="vehicle_namespace" value="$(arg _vehicleA_namespace)"/>
  </include> 

  <include file="$(find cav_vehicle_model)/launch/cav_vehicle_model.launch">
    <arg name="L" value="4.6"/>
    <arg name="m" value="8000"/>
    <arg name="R" value="0.29"/>
    <arg name="I_d" value="0.3"/>
    <arg name="I_g" value="0.3"/>
    <arg name="Im_e" value="0.3"/>
    <arg name="Im_t" value="0.3"/>
    <arg name="Im_w" value="0.3"/>
    <arg name="initial_x" value="0.0"/>
    <arg name="initial_y" value="0.0"/>
    <arg name="initial_heading" value="0.0"/>
    <arg name="initial_speed" value="0.0"/>
    <arg name="vehicle_namespace" value="$(arg _vehicleB_namespace)"/>
  </include>  -->

 <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleA_namespace)"/>
  </include> 
  <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleB_namespace)"/>
  </include>
  <!-- <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleC_namespace)"/>
  </include>
  <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleD_namespace)"/>
  </include> 
  <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleE_namespace)"/>
  </include> 
  <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleF_namespace)"/>
  </include> 
  <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleG_namespace)"/>
  </include> 
  <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleH_namespace)"/>
  </include> 
  <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleI_namespace)"/>
  </include> 
  <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleJ_namespace)"/>
  </include> 
  <include file="$(find communication_gate)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleK_namespace)"/>
  </include>  -->

  <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleA_namespace)"/>
  </include> 
  <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleB_namespace)"/>
  </include>
  <!-- <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleC_namespace)"/>
  </include>
  <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleD_namespace)"/>
  </include>  
  <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleE_namespace)"/>
  </include>
  <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleF_namespace)"/>
  </include>
  <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleG_namespace)"/>
  </include>
  <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleH_namespace)"/>
  </include>  
  <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleI_namespace)"/>
  </include>
  <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleJ_namespace)"/>
  </include>
  <include file="$(find communication_model)/launch/default.launch">
    <arg name="communication_namespace" value="$(arg _vehicleK_namespace)"/>
  </include> -->

  <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleA_namespace)"/>
  </include> 
  <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleB_namespace)"/>
  </include> 
  <!-- <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleC_namespace)"/>
  </include>
  <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleD_namespace)"/>
  </include>
  <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleE_namespace)"/>
  </include>
  <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleF_namespace)"/>
  </include>
  <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleG_namespace)"/>
  </include>
  <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleH_namespace)"/>
  </include>
  <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleI_namespace)"/>
  </include>
  <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleJ_namespace)"/>
  </include>
  <include file="$(find solver)/launch/RAD_VEGA_ZDT.launch">
    <arg name="computation_namespace" value="$(arg _vehicleK_namespace)"/>
  </include> -->

  <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleA_namespace)">
  </include> 
  <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleB_namespace)">
  </include>
  <!-- <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleC_namespace)">
  </include>
  <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleD_namespace)">
  </include>
  <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleE_namespace)">
  </include>
  <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleF_namespace)">
  </include>
  <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleG_namespace)">
  </include> 
  <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleH_namespace)">
  </include>
  <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleI_namespace)">
  </include>
  <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleJ_namespace)">
  </include>
  <include file="$(find sim_runner)/launch/default.launch" ns="$(arg _vehicleK_namespace)">
  </include>  -->

  
  <!-- <include file="$(find map_file)/launch/points_map_loader.launch" ns="PCDLoader">
    <arg name="path_pcd" default='"$(env HOME)/CAVPsim/src/enviornment/map/PCD/test.pcd"' />
  </include>

  <include file="$(find map_file)/launch/vector_map_loader.launch">
    <arg name="path_vector" default='$(env HOME)/CAVPsim/src/enviornment/map/vector/' />
  </include> -->

  <!-- <node type="static_transform_publisher" name="world_to_map" pkg="tf" output="screen" args="0 0 0 0 0 0 1 world map 10" /> -->
  <!-- <node type="static_transform_publisher" name="map_to_odom" pkg="tf" output="screen" args="0 0 0 0 0 0 1 map odom 10" /> -->
  <!-- <node type="rviz" name="rviz" pkg="rviz" output="screen" args="-d $(env HOME)/CAVPsim/src/tools/rviz/default.rviz" /> -->

</launch>
