<?xml version="1.0"?>
<launch>

  <node pkg="nodelet" type="nodelet" name="cav_vehicle_model_1" args="load solver_nodelet/cav_vehicle_model standalone_nodelet" output="screen">

  </node>

  <node pkg="nodelet" type="nodelet" name="cav_vehicle_model_2" args="load solver_nodelet/cav_vehicle_model standalone_nodelet" output="screen">

  </node>

</launch>

